<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: login_path, scope: :session) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>ログイン状態を保持する</span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>新規登録はこちら→ <%= link_to "登録しよう！", signup_path %></p>
  </div>
</div>
<div class="text-center my-3">
  <span class="text-muted">--------------------- or -------------------------</span>
</div>

<div class="d-flex justify-content-center align-items-center my-3">
  <%= form_tag(user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false }) do %>
    <button type="submit" class="btn btn-google btn-lg btn-block border" style="max-width: 300px;">
      <i class="fa-brands fa-google"></i>
      <span style="font-size: 1.2rem;">Googleアカウントでサインインする</span>
    </button>
  <% end %> 
</div>
