

<div class="container bg-white mt-4">
  <h1>ユーザー登録</h1>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <%= form_with(model: resource, as: resource_name, url: registration_path(resource_name), local: true) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group mb-3">
          <%= f.label :name, class: 'form-label' %>
          <%= f.text_field :name, class: 'form-control', autofocus: true, autocomplete: "name" %>
        </div>

        <div class="form-group mb-3">
          <%= f.label :email, class: 'form-label' %>
          <%= f.email_field :email, class: 'form-control', autocomplete: "email" %>
        </div>

        <div class="form-group mb-3">
          <%= f.label :password, class: 'form-label' %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上で設定してください)</em>
          <% end %>
          <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
        </div>

        <div class="form-group mb-4">
          <%= f.label :password_confirmation, "Confirmation", class: 'form-label' %>
          <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
        </div>

        <%= f.submit "登録", class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>

  <div class="text-center my-3">
    <span class="text-muted">--------------------- or -------------------------</span>
  </div>

  <div class="d-flex justify-content-center align-items-center my-3">
    <%= form_tag(user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false }) do %>
      <button type="submit" class="btn btn-google btn-lg btn-block border" style="max-width: 300px;">
        <i class="fa-brands fa-google"></i>
        <span style="font-size: 1.2rem;">Googleアカウントでサインインする</span>
      </button>
    <% end %> 
  </div>

  <div class="text-center my-3">
    <span class="text-muted">--------------------- or -------------------------</span>
  </div>

  <div class="d-flex justify-content-center align-items-center my-3">
    <%= form_tag(user_line_omniauth_authorize_path, method: :post, data: { turbo: false }) do %>
      <button type="submit" class="btn btn-line btn-lg btn-block border" style="max-width: 300px; background-color: #00C300; color: white;">
        <i class="fab fa-line"></i>
        <span style="font-size: 1.2rem;">LINEアカウントでサインインする</span>
      </button>
    <% end %>
  </div>
</div>
