<%= turbo_frame_tag dom_id(comment) do %>
<div class="container my-4">
    <div class="row mb-2">
      <div class="col">
        <div class="d-flex align-items-center">
          <!-- アバター画像 -->
          <div class="me-2">
            <%= image_tag comment.user.avatar_url, alt: 'User avatar', class: 'rounded-circle', style: 'width: 50px; height: 50px; object-fit: cover;' %>
          </div>
          <!-- ユーザー名とコメント本文 -->
          <div class="flex-grow-1">
            <strong><%= comment.user.name %></strong>
            <p><%= comment.body %></p>
          </div>
          <!-- 編集・削除ボタン -->
          <div class="ms-2">
          <% if current_user.own?(comment) %>
          <%= link_to '削除', comment_path(comment), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'btn btn-outline-danger btn-sm' %>
          <%= link_to '編集', edit_comment_path(comment), class:'btn btn-outline-secondary btn-sm' %>
          <% else %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
<% end %>