<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% provide(:title, "Signup") %>

    <%= form_with(model: @user) do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control'%>

    <%= f.label :emal %>
    <%= f.text_field :email, class: 'form-control' %>
  
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

    <%= f.submit "登録", class: "btn-outline-primary" %>
    <% end %>
  </div>

  <div id="g_id_onload"
  data-client_id="997051928699-qkchc1k1n5m1hhg6ipmr99lh8d8e29j7.apps.googleusercontent.com"
  data-login_uri="http://localhost:3000/boards/index"
  data-auto_prompt="false">
</div>
<div class="g_id_signin"
  data-type="standard"
  data-size="large"
  data-theme="outline"
  data-text="sign_in_with"
  data-shape="rectangular"
  data-logo_alignment="left">
</div>
</div>