

  <div class="row justify-content-center bg-white">
  <div class="col-lg-6 col-md-8 col-sm-10 mt-4">
  <h1>ユーザー登録</h1>
    <% provide(:title, "Signup") %>
    <%= form_with(model: @user) do |f| %>
      <%= render 'shared/flash_message' %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <%= f.submit "登録", class: "btn btn-primary btn-block" %>
    <% end %>
  </div> 
  <div class="text-center my-3">
  <span class="text-muted">--------------------- or -------------------------</span>
  </div>

  <div class="d-flex justify-content-center align-items-center my-3">
  <%= form_tag(user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false }) do %>
    <button type="submit" class="btn btn-google btn-lg btn-block border" style="max-width: 300px;">
      <i class="fa-brands fa-google"></i>
      <span style="font-size: 1.2rem;">Googleアカウントでサインインする</span>
    </button>
  <% end %> 
  </div>

  <div class="text-center my-3">
  <span class="text-muted">--------------------- or -------------------------</span>
  </div>

  <div class="d-flex justify-content-center align-items-center my-3">
  <%= form_tag(user_line_omniauth_authorize_path, method: :post, data: { turbo: false }) do %>
    <button type="submit" class="btn btn-line btn-lg btn-block border" style="max-width: 300px; background-color: #00C300; color: white;">
      <i class="fab fa-line"></i>
      <span style="font-size: 1.2rem;">LINEアカウントでサインインする</span>
    </button>
  <% end %>
  </div>
  </div>