<% unless board.nil? %>
  <div class="col-md-4">
    <div id="board-id-<%= board.id %>" class="card mb-4">
      <%= image_tag board.board_image.url, class: 'card-img-top', size: '300x200' %>
      <div class="card-body">
        <h3><%= link_to board.title, board_path(board), class: "card-title" %></h3>
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= image_tag board.user.avatar_url, alt: 'User avatar', class: 'rounded-circle', size: '30x30' %>
            <%= board.user.name %>
          </li>
          <li class="list-inline-item">
            <%= icon 'far', 'calendar' %>
            <%= l board.created_at, format: :long %>
          </li>
        </ul>
        <p class="card-text"><%= board.body %></p>
        <%= render 'crud_menus', board: board if current_user.own?(board) %>

        <p>酸味: <%= board.acidity&.humanize %></p>
        <!-- 酸味のゲージ -->
        <div class="progress" role="progressbar" aria-label="Acidity level" aria-valuenow="<%= enum_to_percentage(board.acidity) %>" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar custom-progress-bar progress-bar-striped progress-bar-animated" style="width: <%= enum_to_percentage(board.acidity) %>%;">
          </div>
        </div>
        
        <p>苦味: <%= board.bitterness&.humanize %></p>
        <!-- 苦味のゲージ -->
        <div class="progress" role="progressbar" aria-label="Acidity level" aria-valuenow="<%= enum_to_percentage(board.bitterness) %>" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar custom-progress-bar progress-bar-striped progress-bar-animated" style="width: <%= enum_to_percentage(board.bitterness) %>%;">
          </div>
        </div>
        <p>コク: <%= board.richness&.humanize %></p>
        <!-- コクのゲージ -->
        <div class="progress" role="progressbar" aria-label="Acidity level" aria-valuenow="<%= enum_to_percentage(board.richness) %>" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar custom-progress-bar progress-bar-striped progress-bar-animated" style="width: <%= enum_to_percentage(board.richness) %>%;">
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
