<div class="row">
  <div class="col-12 col-md-8 col-lg-6"> <!-- 異なる画面サイズでの幅を調整 -->
    <p><%= label %>: <%= percentage %></p>
    <div class="progress" role="progressbar" aria-label="<%= label %> level" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar custom-progress-bar progress-bar-striped progress-bar-animated" style="width: <%= percentage %>%;">
      </div>
    </div>
  </div>
</div>
