<% provide(:title, "QUEST一覧") %>

<div class="container-fluid">
  <div class="row">
    <main class="col-md-9 col-lg-10 px-md-4">
      <div class="mt-4 mb-4">
      <%= search_form_for @q, url: boards_path, method: :get do |f| %>
        <div data-controller="autocomplete" data-autocomplete-url-value="/boards/search" role="combobox">
          <%= f.search_field :title_cont, placeholder: "検索", class: "form-control", data: { action: "input->autocomplete#search", autocomplete_target: "input" } %>
          <%= f.hidden_field :title, data: { autocomplete_target: "hidden" } %>
          <ul class="list-group" data-autocomplete-target="results"></ul>
      </div>
      <% end %>
      <% if @boards.present? %>
        <div class="container-fluid">
          <div class="row">
            <div class="row mb-2 mt-6">
              <%= render @boards %>
            </div>
          </div>
        </div>
      <% else %>
        <p>掲示板がありません</p>
      <% end %>
    </main>

    <div class="col-md-3 col-lg-2 bg-light sidebar sticky-top">
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
      <%= render 'layouts/sidebar' if logged_in? %>
      </div>
    </div>
  </div>
</div>

