<% content_for(:title, @board.title) %> 
<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <article class="card border-primary rounded-4">
        <div class="card-body">
          <div class='row'>
            <div class='ms-auto'>
              <h1>タイトル:<%= t(@board.title) %></h1>
              <ul class="list-inline">
              <li class="list-inline-item">
              投稿者:
              </li>
              <li class="list-inline-item">
              <%= image_tag(@board.user.avatar.url || 'default-avatar.png', class: "img-fluid", alt: "アバター", style: "width: 30px; height: 30px; border-radius: 50%;") %>
              <%= @board.user.name %>
              </li>
              <li class="list-inline-item">投稿日時：<%= l @board.created_at, format: :long  %></li>
              </ul>
              <%= image_tag @board.board_image.url, class: 'card-img-top img-fluid' %>
              <h4 class="mt-3 mb-2 ">【テイスト】</h4>
              <%= render_progress_bar(@board, :acidity) %>
              <%= render_progress_bar(@board, :bitterness) %>
              <%= render_progress_bar(@board, :richness) %>
  
              <%= render 'crud_menus', board: @board if current_user.own?(@board) %>
            </div>
          </div>
          <h4 class="mt-3 mb-2 ">【内容】</h4>
          <p><%= simple_format(@board.body) %></p>
          <h4 class="mt-3 mb-2 ">【購入場所】</h4>
          <p><%= @board.address %></p>
          <!-- Googleマップ表示エリア(地図を表示) -->
          <div id="map"></div>
          <!-- コメントエリア -->
          <div class ="border-primary">
          <%= render @comments%>
          </div>
      
        <!-- コメントフォーム -->
        <%= render 'comments/form', { board: @board, comment: @comment } %>
        </div>
      </article>
    </div>
  </div>
  <!-- 住所表示エリア -->

  <script>
    function initMap(){
      // 地図の位置情報(緯度・経度)を取得
      let mapPosition = {lat: <%= @board.latitude || 0 %> , lng: <%= @board.longitude || 0 %> };
      let map = new google.maps.Map(document.getElementById('map'), {
        zoom: 30,
        center: mapPosition
      });
      let transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);
  
      let contentString = '【住所】<%= @board.address %>';
      let infowindow = new google.maps.InfoWindow({
        content: contentString
      });
  
      let marker = new google.maps.Marker({
        position: mapPosition,
        map: map,
        title: contentString
      });
  
      marker.addListener('click', function(){
        infowindow.open(map, marker);
      });
    }
    </script>
  
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>
</div>