<% content_for(:title, @board.title) %> 
<div class="container pt-5 mb-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <article class="card border-0 shadow-sm rounded-4">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="card-title h4 mb-0">タイトル: <%= @board.title %></h1>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <%= image_tag(@board.user.avatar.url || 'default-avatar.png', class: "img-fluid rounded-circle", alt: "アバター", style: "width: 30px; height: 30px;") %>
              </li>
              <li class="list-inline-item"><%= @board.user.name %></li>
              <li class="list-inline-item text-muted">投稿日時: <%= l @board.created_at, format: :long %></li>
            </ul>
          </div>

          <!-- ソーシャルメディアシェアボタン -->
          <div class="d-flex justify-content-end mb-3">
            <h4>シェア:</h4>
            <%= render 'boards/twitter', board: @board %>
            <%= render 'boards/line', board: @board %>
          </div>
          
          <% if @board.board_images.any? %>
            <div id="carousel-<%= @board.id %>" class="carousel slide mb-3" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <% @board.board_images.each_with_index do |image, index| %>
                  <button type="button" data-bs-target="#carousel-<%= @board.id %>" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>" aria-current="<%= 'true' if index == 0 %>" aria-label="Slide <%= index + 1 %>"></button>
                <% end %>
              </div>
              <div class="carousel-inner">
                <% @board.board_images.each_with_index do |image, index| %>
                  <div class="carousel-item <%= 'active' if index == 0 %>">
                    <%= image_tag image.image.url, class: 'd-block w-100', 'data-bs-toggle': 'modal', 'data-bs-target': '#imageModal', 'data-image-url': image.image.url %>
                  </div>
                <% end %>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel-<%= @board.id %>" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel-<%= @board.id %>" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          <% else %>
            <%= image_tag 'mame.png', class: 'card-img-top mb-3', 'data-bs-toggle': 'modal', 'data-bs-target': '#imageModal', 'data-image-url': image_path('mame.png') %>
          <% end %>
          
          <h4 class="mt-3 mb-2">【テイスト】</h4>
          <%= render_progress_bar(@board, :acidity) %>
          <%= render_progress_bar(@board, :bitterness) %>
          <%= render_progress_bar(@board, :richness) %>
          
          <h4 class="mt-3 mb-2">【内容】</h4>
          <p><%= simple_format(@board.body) %></p>
          
          <h4 class="mt-3 mb-2">【購入場所】</h4>
          <p><%= @board.address %></p>
          
          <!-- Googleマップ表示エリア -->
          <div id="map" class="mb-3" style="height: 300px;"></div>
          
          <% if current_user.own?(@board) %>
            <%= render 'crud_menus', board: @board %>
          <% else %>
            <%= render 'boards/bookmark_button', board: @board %>
          <% end %>

          <!-- コメントエリア -->
          <div class="border-top mt-3 pt-3">
            <%= render @comments %>
          </div>
          
          <!-- コメントフォーム -->
          <%= render 'comments/form', { board: @board, comment: @comment } %>
        </div>
      </article>
    </div>
  </div>
</div>

<!-- モーダルの追加 -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageModalLabel">画像のプレビュー</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img id="modalImage" src="" class="img-fluid" alt="プレビュー画像">
      </div>
    </div>
  </div>
</div>

<%= render 'boards/new_board_button' %>

<script>
  document.addEventListener('turbo:load', function() {
    var imageModal = document.getElementById('imageModal');
    imageModal.addEventListener('show.bs.modal', function (event) {
      var button = event.relatedTarget;
      var imageUrl = button.getAttribute('data-image-url');
      var modalImage = imageModal.querySelector('#modalImage');
      modalImage.src = imageUrl;
    });

    function initMap(){
      let mapPosition = {lat: <%= @board.latitude || 0 %>, lng: <%= @board.longitude || 0 %> };
      let map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: mapPosition
      });
      let marker = new google.maps.Marker({
        position: mapPosition,
        map: map,
        title: '<%= j @board.address %>'
      });
    }

    if (typeof google === 'object' && typeof google.maps === 'object') {
      initMap();
    } else {
      var script = document.createElement('script');
      script.src = `https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap`;
      script.async = true;
      script.defer = true;
      document.head.appendChild(script);
      window.initMap = initMap;
    }
  });
</script>
