<%= form_with model: @survey, url: surveys_path do |form| %>
  <div>
    <%= form.label :acidity, "コーヒーの酸味が好きですか？" %>
    <%= form.select :acidity, [['弱めが好き', 1], ['普通', 2], ['強めが好き', 3]] %>
    </div>
  <div>
    <%= form.label :bitterness, "コーヒーの苦味が好きですか？" %>
    <%= form.select :bitterness, [['弱めが好き', 1], ['普通', 2], ['強めが好き', 3]] %>
  </div>
  <div>
    <%= form.label :body, "コーヒーのボディ（コク）はどのくらいが好きですか？" %>
    <%= form.number_field :body, in: 1..5 %>
  </div>
  <div>
    <%= form.label :flavor, "どのような風味が好きですか？" %>
    <%= form.select :flavor, ["フルーティー", "ナッティー", "チョコレート"] %>
  </div>
  <div>
    <%= form.submit "送信" %>
  </div>
<% end %>