<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_with model: @survey, url: surveys_path, html: { class: "quest-form" } do |form| %>
        <fieldset class="quest-fieldset">
          <legend class="text-center">コーヒ豆の提案を受ける</legend>

          <div class="form-group text-center">
            <%= form.label :acidity, "コーヒーの酸味が好きですか？" %><br>
            <%= form.range_field :acidity, min: 1, max: 5, class: "form-range", id: "acidity" %>
            <div class="range-label">←←←←←←←←←←そんな</div>
            <div class="range-label">普通</div>
            <div class="range-label">好き→→→→→→→→→→→</div>
          </div>
          <div class="form-group text-center">
            <%= form.label :bitterness, "コーヒーの苦味が好きですか？" %><br>
            <%= form.range_field :bitterness, min: 1, max: 5, class: "form-range", id: "bitterness" %>
            <div class="range-label">←←←←←←←←←←そんな</div>
            <div class="range-label">普通</div>
            <div class="range-label">好き→→→→→→→→→→→</div>
          </div>
          <div class="form-group text-center">
            <%= form.label :body, "コーヒーのボディ（コク）はどのくらいが好きですか？" %><br>
            <%= form.range_field :body, min: 1, max: 5, class: "form-range", id: "body" %>
            <div class="range-label">←←←←←←←←←←そんな</div>
            <div class="range-label">普通</div>
            <div class="range-label">好き→→→→→→→→→→→</div>
          </div>
          <div class="form-group text-center">
            <%= form.label :flavor, "どのような風味が好きですか？" %><br>
            <%= form.select :flavor, ["フルーティー", "ナッティー", "チョコレート"], { prompt: "選択してください" }, class: "form-select" %>
          </div>
          <div class="form-group text-center">
            <%= form.submit "送信", class: "btn btn-primary" %>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>


