
<p><strong>酸味:</strong> <%= @survey.acidity %></p>
<p><strong>苦味:</strong> <%= @survey.bitterness %></p>
<p><strong>ボディ:</strong> <%= @survey.body %></p>
<p><strong>風味:</strong> <%= @survey.flavor %></p>
<% if @survey.suggestion.present? %>
  <p><strong>提案:</strong> <%= @survey.suggestion %></p>
<% end %>
