<header class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <%= link_to "cafequest", root_path, id: "logo", class: "navbar-brand" %>
  <div class="container-fluid">
  </div>
  <ul class="navbar-nav me-4">
   <% if logged_in? %>
  <!-- Dropdown Menu -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown">
      メニュー
    </a>
    <ul class="dropdown-menu ms-4" aria-labelledby="navbarDropdownMenuLink">
      <li><%= link_to "Posts", boards_path %></li>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Users", '#' %></li>
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Settings", '#' %></li>
      <li><%= link_to "Log out", logout_path, data: { turbo_method: :delete } %></li>
      <% else %>
      <% end %>
    </ul>
  </li>
  <% if current_user %>
  <li class="nav-item">
    <%= link_to profile_path do %>
      <%= image_tag current_user.avatar_url, alt: 'Avatar', class: 'rounded-circle', width: 40 %>
    <% end %>
  </li>
  <% end %>
</ul>
  
</header>
      
      <!-- ここにページのコンテンツ -->
      
      <!-- BootstrapのJavaScriptファイルと依存関係 -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      </body>
      </html>
  </div>
</header>

