<div class="d-flex flex-column p-3 bg-body-tertiary" style="width: 200px;">

  <ul class="nav flex-column mb-auto">
    <li class="nav-item">
      <%= link_to profile_path, class: "nav-link link-body-emphasis" do %>
        <i class="fas fa-user"></i> プロフィール
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_board_path, class: "nav-link link-body-emphasis" do %>
        <i class="fas fa-list"></i> 飲んでみたいコーヒー
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to bookmarks_boards_path, class: "nav-link link-body-emphasis" do %>
        <i class="fas fa-star"></i> お気に入り
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to ranking_boards_path, class: "nav-link link-body-emphasis" do %>
        <i class="fas fa-trophy"></i> ランキング
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_board_path, class: "nav-link link-body-emphasis" do %>
        <i class="fas fa-plus-square"></i> カフェクエスト作成
      <% end %>
    </li>
    <li class="nav-item">
    <%= link_to new_survey_path, class: "nav-link link-body-emphasis" do %>
        <i class="fa-solid fa-gift"></i> 勇者にコーヒーの提案を受ける
    <% end %>
  </li>
    <li class='nav-item dropdown'>
      <%= image_tag current_user.avatar_url, class: 'rounded-circle mr-2', size: '40x40'%>
      <%= current_user.name %>
    </div>
  </li>
  </ul>
  </div>
</div>
