    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
    <li class="nav-item">
    <%= link_to search_path do %>
      <i class="fas fa-search"></i> 検索
    <% end %>
    <li class="nav-item">
      <%= link_to profile_path do %>
        <i class="fas fa-user"></i> プロフィール
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_board_path do %>
        <i class="fas fa-list"></i> リスト
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to bookmarks_boards_path do %>
        <i class="fas fa-star"></i> お気に入り
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to ranking_boards_path do %>
        <i class="fas fa-trophy"></i> ランキング
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_board_path do %>
        <i class="fas fa-plus-square"></i> 新規投稿
      <% end %>
    </li>
    <li>
  </li>
  </ul>

</div>
